# 단계별로 풀어보기

## 입출력과 사칙연산

#### 10869사칙연산

In [1]:
# a, b = map(int,input().split())

# print(a+b)
# print(a-b)
# print(a*b)
# print(int(a/b))
# print(a%b)

#### 10926	??!

In [2]:
# id = input()
# print(id+'??!')

####  18108	1998년생인 내가 태국에서는 2541년생?!

In [3]:
# year = int(input())
# print(year-543)

#### 10430	나머지

In [4]:
# A,B,C = map(int,input().split())

# print((A+B)%C)
# print(((A%C) + (B%C))%C)
# print((A*B)%C)
# print(((A%C) * (B%C))%C)

#### 2588	곱셈

In [5]:
# A = int(input())
# B = input()

# print(A*int(B[2]), A*int(B[1]),A*int(B[0]),A*int(B))

#### 11382	꼬마 정민

In [6]:
# A, B, C = map(int,input().split())
# print(A+B+C)

#### 10171	고양이

In [7]:
# print("\\    /\\")
# print(" )  ( ')")
# print("(  /  )")
# print(" \\(__)|")

#### 10172	개

In [8]:
# print("|\\_/|")
# print("|q p|   /}")
# print("( 0 )\"\"\"\\")
# print("|\"^\"`    |")
# print("||_/=\\\\__|")

## 조건문

#### 1330	두 수 비교하기

In [9]:
# A,B = map(int,input().split())
# if A<B:
#     print('<')
# elif A==B:
#     print('==')
# else:
#     print('>')

#### 9498	시험 성적

In [10]:
# score = int(input())
# if 90<=score<=100:
#     print('A')
# elif 80<=score<=89:
#     print('B')
# elif 70<=score<=79:
#     print('C')
# elif 60<=score<=69:
#     print('D')
# else:
#     print('F')

#### 2753	윤년

In [11]:
# year = int(input())
# if (year %4 ==0) and ((year%100 != 0) or (year%400 ==0)):
#     print(1)
# else:
#     print(0)

#### 14681	사분면 고르기

In [12]:
# A = int(input())
# B = int(input())
# if A>0 and B>0:
#     print(1)
# elif A<0 and B>0:
#     print(2)
# elif A<0 and B<0:
#     print(3)
# else:
#     print(4)

#### 2884	알람 시계

In [13]:
# H, M = map(int,input().split())
# new_H , new_M = H,M
# if M <45:
#     new_M = 60+ M -45
#     new_H = H-1
#     if H <= 0:
#         new_H = 23
# else :
#     new_M = M -45

# print(new_H,new_M)

#### 2525	오븐 시계

In [14]:
# A, B = map(int,input().split())
# C = int(input())

# new_A , new_B = A,B
# if  B+C>=60:
#     new_B = (B+C)%60
#     new_A = A + ((B+C)//60)
#     if new_A >= 24:
#         new_A = new_A -24
# else:
#     new_B = B+C

# print(new_A,new_B)

#### 2480	주사위 세개

In [15]:
# a,b,c = map(int,input().split())
# reward=0
# if a==b and b==c:
#     reward = 10000+a*1000
# elif a==b or a==c or b==c:
#     reward = 1000+(a if a == b or a == c else b)*100
# else:
#     reward = 100*max(a,b,c)

# print(reward)

## 반복문

#### 2739	구구단

In [16]:
# n = int(input())
# for i in range(1,10):
#     print(f'{n} * {i} = {n*i}')

#### 10950A+B - 3

In [17]:
# T = int(input())
# for T in range(1,T+1):
#     A, B = map(int,input().split())
#     print(A+B)

#### 8393	합

In [18]:
# n = int(input())
# x=0
# for i in range(1,n+1):
#     x+= i
# print(x)

#### 25304	영수증

In [19]:
# total_price = int(input())
# number_of_product = int(input())
# check = 0
# for i in range(1,number_of_product+1):
#     price, num = map(int, input().split())
#     check = check + price*num

# if total_price ==check:
#     print('Yes')
# else:
#     print('No')

#### 25314	코딩은 체육과목 입니다

In [20]:
# length = int(input())
# numb_of_long = length//4

# for _ in range(numb_of_long):
#     print('long', end=' ')

# print('int')

#### 11021	A+B - 7

In [21]:
# T = int(input())
# for i in range(1,T+1):
#     A, B = map(int,input().split())
#     print(f'Case #{i}: {A+B}')

#### 	11022	A+B - 8

In [22]:
# T = int(input())
# for i in range(1,T+1):
#     A, B = map(int,input().split())
#     print(f'Case #{i}: {A} + {B} = {A+B}')

#### 	2438	별 찍기 - 1

In [23]:
# N = int(input())
# for i in range(1,N+1):
#         print('*'*i)

#### 2439별 찍기 - 2

In [24]:
# N = int(input())
# for i in range(1,N+1):
#         print(' '*(N-i),end='')
#         print('*'*i)

#### 10952A+B - 5

In [25]:
# A, B = map(int,input().split())
# while A!= 0 and B!=0:
#     print(A+B)
#     A, B = map(int,input().split())

#### 	10951	A+B - 4

In [26]:
# while True:
#     try:
#         A, B = map(int, input().split())
#         print(A+B)
#     except:
#         break

## 1차원 배열

#### 	10807	개수 세기

In [27]:
# N = int(input())
# A = list(map(int,input().split()))
# v = int(input())

# print(A.count(v))

#### 	10871	X보다 작은 수

In [28]:
# N, X = map(int,input().split())
# A = list(map(int,input().split()))

# for N in range(N):
#     if A[N] <X:
#         print(A[N],end=' ')

#### 10818	최소, 최대

In [29]:
# N = int(input())
# a = list(map(int,input().split()))
# print(min(a),max(a))

#### 2562	최댓값

In [30]:
# a,num = 0, 0

# for i in range(9):
#     b = int(input())
#     if b > a:
#         a = b
#         num = i+1
# print(a)
# print(num)

#### 	10810	공 넣기

In [31]:
# N, M = map(int,input().split())
# basket = [0]*N

# for _ in range(M):
#     a, b, num = map(int,input().split())
#     basket[a-1:b] = [num]*(b-a+1)
# result  =' '.join(map(str,basket))

# print(result)

#### 10813	공 바꾸기

In [32]:
# N, M = map(int,input().split())
# basket = [0]*N
# temp = 0

# for i in range(N):
#     basket[i] = i+1

# for _ in range(M):
#     a, b = map(int,input().split())
#     temp = basket[a-1]
#     basket[a-1] = basket[b-1]
#     basket[b-1] = temp

# for i in range(N):
#     print(basket[i],end=' ')

In [33]:
# N, M = map(int, input().split())
# basket = list(range(1, N + 1))

# for _ in range(M):
#     a, b = map(int, input().split())
#     basket[a-1], basket[b-1] = basket[b-1], basket[a-1]

# print(*basket)

#### 5597	과제 안 내신 분..?

In [34]:
# students = list(range(1,31))
# submitted = []
# for _ in range(1,29):
#     submitted.append(int(input()))

# not_sub = [student for student in students if student not in submitted]

# print(sorted(not_sub)[0])
# print(sorted(not_sub)[1])

In [35]:
# students = set(range(1, 31))
# submitted = set(int(input()) for _ in range(1, 29))

# not_sub = sorted(list(students - submitted))

# print(not_sub[0])
# print(not_sub[1])

#### 	3052	나머지

In [36]:
# num_list=[]
# for _ in range(10):
#     a = int(input())
#     remain = a%42
#     num_list.append(remain)

# print(len(set(num_list)))

#### 	10811	바구니 뒤집기

In [37]:
# N, M = map(int, input().split())
# basket = list(range(1,N+1))

# for _ in range(M):
#     i, j = map(int, input().split())
#     basket[i-1:j] = reversed(basket[i-1:j])

# print(*basket)

#### 1546	평균

In [38]:
# N = int(input())
# score = list(map(int,input().split()))
# max_score = max(score)
# for i in range(N):
#     score[i] = score[i]/max_score*100

# print((sum(score))/N)

## 문자열

27866	문자와 문자열

In [39]:
# word = input()
# i = int(input())
# print(word[i-1])

2743	단어 길이 재기

In [40]:
# word = input()
# print(len(word))

9086	문자열

In [41]:
# case = int(input())
# for _ in range(case):
#     word = input()
#     print(word[0]+word[-1])

11654	아스키 코드

In [42]:
# alph = input()
# print(ord(alph))

11720숫자의 합

In [43]:
# N = input()
# N_2 = input()
# print(sum(map(int,N_2)))

In [44]:
# S = input()

# for i in range(97,123):
#     if chr(i) in S:
#         print(S.index(chr(i)),end=' ')
#     else :
#         print(-1,end=' ')

2675문자열 반복

In [7]:
# s = int(input())
# for _ in range(s):
#     r, p = input().split()
#     for char in p:
#         print(char*int(r),end='')
#     print()

ggaadd...vvvaaa///dddfffaaa,,,

1152	단어의 개수

In [10]:
# sentence = input().split()
# print(len(sentence))

4

2908	상수

In [13]:
# num1, num2 = input().split()
# num1_sangsu = int(num1[2]+num1[1]+num1[0])
# num2_sangsu = int(num2[2]+num2[1]+num2[0])
# print(max(num1_sangsu,num2_sangsu))

537

In [16]:
# num1, num2 = input().split()
# num1, num2 = int(num1[::-1]), int(num2[::-1])
# print(max(num1,num2))

321

5622	다이얼

In [13]:
# dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
# word = input()
# time = 0
# for char in word:
#     for i, letters in enumerate(dial):
#         if char in letters:
#             time += i + 3
#             break
# print(time)

13

In [15]:
# word = input()
# time = 0

# for letters in word:
#     if letters in "ABC":
#         time += 3
#     elif letters in "DEF":
#         time += 4
#     elif letters in "GHI":
#         time += 5
#     elif letters in "JKL":
#         time += 6
#     elif letters in "MNO":
#         time += 7
#     elif letters in "PQRS":
#         time += 8
#     elif letters in "TUV":
#         time += 9
#     elif letters in "WXYZ":
#         time += 10
#     elif letters in " ":
#         time += 2
#     else:
#         time += 11

# print(time)

22

In [14]:
# dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
# word = input()
# time = 0
# for j in range(len(a)):
#     for i in dial:
#         if a[j] in i:
#             time += dial.index(i)+3
# print(time)

0

11718	그대로 출력하기

In [1]:
# while True:
#     try:
#         word = input()
#         print(word)
#     except EOFError:
#         break

# # End of the file error

## 심화 1

25083	새싹

In [4]:
# print('         ,r\'"7')
# print('r`-_   ,\'  ,/')
# print(' \. ". L_r\'')
# print('   `~\/')
# print('      |')
# print('      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
# print('''         ,r'"7''')
# print('''r`-_   ,'  ,/''')
# print(""" \. ". L_r'""")
# print('   `~\/')
# print('      |')
# print('      |')
# # ''' 3개 사용

3003	킹, 퀸, 룩, 비숍, 나이트, 폰

In [38]:
# piece = [1,1,2,2,2,8]
# found = list(map(int,input().split()))

# for i in range(6):
#     print(piece[i]-found[i],end=' ')

	2444	별 찍기 - 7

In [39]:
# N = int(input())

# for i in range(1, 2*N, 2):
#     print(" " * ((2*N-1-i)//2) + "*" * i)

# for i in range(2*N-3, 0, -2):
#     print(" " * ((2*N-1-i)//2) + "*" * i)

	10988	팰린드롬인지 확인하기

In [2]:
# word = input()
# reverse = word[::-1]

# if word ==reverse:
#     print(1)
# else :
#     print(0)

1

1157	단어 공부

In [13]:
# word = input().upper()
# word_list = list(set(word))

# countlist = []

# for char in word_list:
#     counter = word.count(char)
#     countlist.append(counter)

# if countlist.count(max(countlist)) > 1:
#     print("?")

# else :
#     print(word_list[countlist.index(max(countlist))])

C

In [ ]:
2941	크로아티아 알파벳

In [ ]:
# c_a = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
# word = input()

# for i in c_a :
#     word = word.replace(i, 'c')
# print(len(word))

	1316	그룹 단어 체커

In [15]:
# num = int(input())
# count = 0
# alphabet_list =[]

# for _ in range(num):
#     word = input()
#     for i in range(len(word)):
#         if i > 0 and word[i] != word[i-1] and word[i] in alphabet_list:
#             break
#         elif i == len(word)-1:
#             count +=1
#         else :
#             alphabet_list.append(word[i])

#     alphabet_list = []


# print(count)

1

In [ ]:
# # 하나씩 빼는방법
# n = int(input())
# ans = n

# for _ in range():
#     word= input()

#     for i in range(len(word)-1):
#         if word[i] ==word[i+1]:
#             pass
#         elif word[i] in word[i+1:]:
#             ans -= 1
#             break
# print(ans)

In [ ]:
# # find, for에 바로 input, sorted&find 활용
# result = 0
# for i in range(int(input())):
#     word = input()
#     if list(word) == sorted(word, key=word.find):  
#         result += 1
# print(result)

	25206	너의 평점은

In [17]:
# rating = ['A+', 'A0', 'B+', 'B0', 'C+', 'C0', 'D+', 'D0', 'F']
# grades = [4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0]


# total_grade = 0
# total_credits = 0

# for _ in range(20):
#     subject,credit, grade = input().split()
#     credit = float(credit)
#     if grade != 'P' :
#         total_grade += credit*grades[rating.index(grade)]
#         total_credits += credit

# print(total_grade/total_credits)

ValueError: not enough values to unpack (expected 3, got 0)

In [ ]:
# #딕셔너리
# score = {'A+': 4.5, 'A0': 4.0, 'B+': 3.5, 'B0': 3.0,
#          'C+': 2.5, 'C0': 2.0, 'D+': 1.5, 'D0': 1.0, 'F': 0.0}

# total_credits = 0
# total_grades = 0
# for _ in range(20):
#     subject, credit, grade = input().split()
#     credit = float(credit)
#     if grade != 'P':
#         total_credits += credit
#         total_grades += credit * score[grade]

# print(total_grades / total_credits)