# 단계별로 풀어보기

## 입출력과 사칙연산

#### 10869사칙연산

In [79]:
# a, b = map(int,input().split())

# print(a+b)
# print(a-b)
# print(a*b)
# print(int(a/b))
# print(a%b)

#### 10926	??!

In [80]:
# id = input()
# print(id+'??!')

####  18108	1998년생인 내가 태국에서는 2541년생?!

In [81]:
# year = int(input())
# print(year-543)

#### 10430	나머지

In [82]:
# A,B,C = map(int,input().split())

# print((A+B)%C)
# print(((A%C) + (B%C))%C)
# print((A*B)%C)
# print(((A%C) * (B%C))%C)

#### 2588	곱셈

In [83]:
# A = int(input())
# B = input()

# print(A*int(B[2]), A*int(B[1]),A*int(B[0]),A*int(B))

#### 11382	꼬마 정민

In [84]:
# A, B, C = map(int,input().split())
# print(A+B+C)

#### 10171	고양이

In [85]:
# print("\\    /\\")
# print(" )  ( ')")
# print("(  /  )")
# print(" \\(__)|")

#### 10172	개

In [86]:
# print("|\\_/|")
# print("|q p|   /}")
# print("( 0 )\"\"\"\\")
# print("|\"^\"`    |")
# print("||_/=\\\\__|")

## 조건문

#### 1330	두 수 비교하기

In [87]:
# A,B = map(int,input().split())
# if A<B:
#     print('<')
# elif A==B:
#     print('==')
# else:
#     print('>')

#### 9498	시험 성적

In [88]:
# score = int(input())
# if 90<=score<=100:
#     print('A')
# elif 80<=score<=89:
#     print('B')
# elif 70<=score<=79:
#     print('C')
# elif 60<=score<=69:
#     print('D')
# else:
#     print('F')

#### 2753	윤년

In [89]:
# year = int(input())
# if (year %4 ==0) and ((year%100 != 0) or (year%400 ==0)):
#     print(1)
# else:
#     print(0)

#### 14681	사분면 고르기

In [90]:
# A = int(input())
# B = int(input())
# if A>0 and B>0:
#     print(1)
# elif A<0 and B>0:
#     print(2)
# elif A<0 and B<0:
#     print(3)
# else:
#     print(4)

#### 2884	알람 시계

In [91]:
# H, M = map(int,input().split())
# new_H , new_M = H,M
# if M <45:
#     new_M = 60+ M -45
#     new_H = H-1
#     if H <= 0:
#         new_H = 23
# else :
#     new_M = M -45

# print(new_H,new_M)

#### 2525	오븐 시계

In [92]:
# A, B = map(int,input().split())
# C = int(input())

# new_A , new_B = A,B
# if  B+C>=60:
#     new_B = (B+C)%60
#     new_A = A + ((B+C)//60)
#     if new_A >= 24:
#         new_A = new_A -24
# else:
#     new_B = B+C

# print(new_A,new_B)

#### 2480	주사위 세개

In [93]:
# a,b,c = map(int,input().split())
# reward=0
# if a==b and b==c:
#     reward = 10000+a*1000
# elif a==b or a==c or b==c:
#     reward = 1000+(a if a == b or a == c else b)*100
# else:
#     reward = 100*max(a,b,c)

# print(reward)

## 반복문

#### 2739	구구단

In [94]:
# n = int(input())
# for i in range(1,10):
#     print(f'{n} * {i} = {n*i}')

#### 10950A+B - 3

In [95]:
# T = int(input())
# for T in range(1,T+1):
#     A, B = map(int,input().split())
#     print(A+B)

#### 8393	합

In [96]:
# n = int(input())
# x=0
# for i in range(1,n+1):
#     x+= i
# print(x)

#### 25304	영수증

In [97]:
# total_price = int(input())
# number_of_product = int(input())
# check = 0
# for i in range(1,number_of_product+1):
#     price, num = map(int, input().split())
#     check = check + price*num

# if total_price ==check:
#     print('Yes')
# else:
#     print('No')

#### 25314	코딩은 체육과목 입니다

In [98]:
# length = int(input())
# numb_of_long = length//4

# for _ in range(numb_of_long):
#     print('long', end=' ')

# print('int')

#### 11021	A+B - 7

In [99]:
# T = int(input())
# for i in range(1,T+1):
#     A, B = map(int,input().split())
#     print(f'Case #{i}: {A+B}')

#### 	11022	A+B - 8

In [100]:
# T = int(input())
# for i in range(1,T+1):
#     A, B = map(int,input().split())
#     print(f'Case #{i}: {A} + {B} = {A+B}')

#### 	2438	별 찍기 - 1

In [101]:
# N = int(input())
# for i in range(1,N+1):
#         print('*'*i)

#### 2439별 찍기 - 2

In [102]:
# N = int(input())
# for i in range(1,N+1):
#         print(' '*(N-i),end='')
#         print('*'*i)

#### 10952A+B - 5

In [103]:
# A, B = map(int,input().split())
# while A!= 0 and B!=0:
#     print(A+B)
#     A, B = map(int,input().split())

#### 	10951	A+B - 4

In [104]:
# while True:
#     try:
#         A, B = map(int, input().split())
#         print(A+B)
#     except:
#         break

## 1차원 배열

#### 	10807	개수 세기

In [105]:
# N = int(input())
# A = list(map(int,input().split()))
# v = int(input())

# print(A.count(v))

#### 	10871	X보다 작은 수

In [106]:
# N, X = map(int,input().split())
# A = list(map(int,input().split()))

# for N in range(N):
#     if A[N] <X:
#         print(A[N],end=' ')

#### 10818	최소, 최대

In [107]:
# N = int(input())
# a = list(map(int,input().split()))
# print(min(a),max(a))

#### 2562	최댓값

In [108]:
# a,num = 0, 0

# for i in range(9):
#     b = int(input())
#     if b > a:
#         a = b
#         num = i+1
# print(a)
# print(num)

#### 	10810	공 넣기

In [109]:
# N, M = map(int,input().split())
# basket = [0]*N

# for _ in range(M):
#     a, b, num = map(int,input().split())
#     basket[a-1:b] = [num]*(b-a+1)
# result  =' '.join(map(str,basket))

# print(result)

#### 10813	공 바꾸기

In [110]:
# N, M = map(int,input().split())
# basket = [0]*N
# temp = 0

# for i in range(N):
#     basket[i] = i+1

# for _ in range(M):
#     a, b = map(int,input().split())
#     temp = basket[a-1]
#     basket[a-1] = basket[b-1]
#     basket[b-1] = temp

# for i in range(N):
#     print(basket[i],end=' ')

In [111]:
# N, M = map(int, input().split())
# basket = list(range(1, N + 1))

# for _ in range(M):
#     a, b = map(int, input().split())
#     basket[a-1], basket[b-1] = basket[b-1], basket[a-1]

# print(*basket)

#### 5597	과제 안 내신 분..?

In [112]:
# students = list(range(1,31))
# submitted = []
# for _ in range(1,29):
#     submitted.append(int(input()))

# not_sub = [student for student in students if student not in submitted]

# print(sorted(not_sub)[0])
# print(sorted(not_sub)[1])

In [113]:
# students = set(range(1, 31))
# submitted = set(int(input()) for _ in range(1, 29))

# not_sub = sorted(list(students - submitted))

# print(not_sub[0])
# print(not_sub[1])

#### 	3052	나머지

In [114]:
# num_list=[]
# for _ in range(10):
#     a = int(input())
#     remain = a%42
#     num_list.append(remain)

# print(len(set(num_list)))

#### 	10811	바구니 뒤집기

In [115]:
# N, M = map(int, input().split())
# basket = list(range(1,N+1))

# for _ in range(M):
#     i, j = map(int, input().split())
#     basket[i-1:j] = reversed(basket[i-1:j])

# print(*basket)

#### 1546	평균

In [116]:
# N = int(input())
# score = list(map(int,input().split()))
# max_score = max(score)
# for i in range(N):
#     score[i] = score[i]/max_score*100

# print((sum(score))/N)

## 문자열

27866	문자와 문자열

In [117]:
# word = input()
# i = int(input())
# print(word[i-1])

2743	단어 길이 재기

In [118]:
# word = input()
# print(len(word))

9086	문자열

In [119]:
# case = int(input())
# for _ in range(case):
#     word = input()
#     print(word[0]+word[-1])

11654	아스키 코드

In [120]:
# alph = input()
# print(ord(alph))

11720숫자의 합

In [121]:
# N = input()
# N_2 = input()
# print(sum(map(int,N_2)))

In [122]:
# S = input()

# for i in range(97,123):
#     if chr(i) in S:
#         print(S.index(chr(i)),end=' ')
#     else :
#         print(-1,end=' ')

2675문자열 반복

In [123]:
# s = int(input())
# for _ in range(s):
#     r, p = input().split()
#     for char in p:
#         print(char*int(r),end='')
#     print()

1152	단어의 개수

In [124]:
# sentence = input().split()
# print(len(sentence))

2908	상수

In [125]:
# num1, num2 = input().split()
# num1_sangsu = int(num1[2]+num1[1]+num1[0])
# num2_sangsu = int(num2[2]+num2[1]+num2[0])
# print(max(num1_sangsu,num2_sangsu))

In [126]:
# num1, num2 = input().split()
# num1, num2 = int(num1[::-1]), int(num2[::-1])
# print(max(num1,num2))

5622	다이얼

In [127]:
# dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
# word = input()
# time = 0
# for char in word:
#     for i, letters in enumerate(dial):
#         if char in letters:
#             time += i + 3
#             break
# print(time)

In [128]:
# word = input()
# time = 0

# for letters in word:
#     if letters in "ABC":
#         time += 3
#     elif letters in "DEF":
#         time += 4
#     elif letters in "GHI":
#         time += 5
#     elif letters in "JKL":
#         time += 6
#     elif letters in "MNO":
#         time += 7
#     elif letters in "PQRS":
#         time += 8
#     elif letters in "TUV":
#         time += 9
#     elif letters in "WXYZ":
#         time += 10
#     elif letters in " ":
#         time += 2
#     else:
#         time += 11

# print(time)

In [129]:
# dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
# word = input()
# time = 0
# for j in range(len(a)):
#     for i in dial:
#         if a[j] in i:
#             time += dial.index(i)+3
# print(time)

11718	그대로 출력하기

In [130]:
# while True:
#     try:
#         word = input()
#         print(word)
#     except EOFError:
#         break

# # End of the file error

## 심화 1

25083	새싹

In [131]:
# print('         ,r\'"7')
# print('r`-_   ,\'  ,/')
# print(' \. ". L_r\'')
# print('   `~\/')
# print('      |')
# print('      |')

In [132]:
# print('''         ,r'"7''')
# print('''r`-_   ,'  ,/''')
# print(""" \. ". L_r'""")
# print('   `~\/')
# print('      |')
# print('      |')
# # ''' 3개 사용

3003	킹, 퀸, 룩, 비숍, 나이트, 폰

In [133]:
# piece = [1,1,2,2,2,8]
# found = list(map(int,input().split()))

# for i in range(6):
#     print(piece[i]-found[i],end=' ')

	2444	별 찍기 - 7

In [134]:
# N = int(input())

# for i in range(1, 2*N, 2):
#     print(" " * ((2*N-1-i)//2) + "*" * i)

# for i in range(2*N-3, 0, -2):
#     print(" " * ((2*N-1-i)//2) + "*" * i)

	10988	팰린드롬인지 확인하기

In [135]:
# word = input()
# reverse = word[::-1]

# if word ==reverse:
#     print(1)
# else :
#     print(0)

1157	단어 공부

In [136]:
# word = input().upper()
# word_list = list(set(word))

# countlist = []

# for char in word_list:
#     counter = word.count(char)
#     countlist.append(counter)

# if countlist.count(max(countlist)) > 1:
#     print("?")

# else :
#     print(word_list[countlist.index(max(countlist))])

2941	크로아티아 알파벳

In [137]:
# c_a = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
# word = input()

# for i in c_a :
#     word = word.replace(i, 'c')
# print(len(word))

	1316	그룹 단어 체커

In [138]:
# num = int(input())
# count = 0
# alphabet_list =[]

# for _ in range(num):
#     word = input()
#     for i in range(len(word)):
#         if i > 0 and word[i] != word[i-1] and word[i] in alphabet_list:
#             break
#         elif i == len(word)-1:
#             count +=1
#         else :
#             alphabet_list.append(word[i])

#     alphabet_list = []


# print(count)

In [139]:
# # 하나씩 빼는방법
# n = int(input())
# ans = n

# for _ in range():
#     word= input()

#     for i in range(len(word)-1):
#         if word[i] ==word[i+1]:
#             pass
#         elif word[i] in word[i+1:]:
#             ans -= 1
#             break
# print(ans)

In [140]:
# # find, for에 바로 input, sorted&find 활용
# result = 0
# for i in range(int(input())):
#     word = input()
#     if list(word) == sorted(word, key=word.find):  
#         result += 1
# print(result)

	25206	너의 평점은

In [141]:
# rating = ['A+', 'A0', 'B+', 'B0', 'C+', 'C0', 'D+', 'D0', 'F']
# grades = [4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0]


# total_grade = 0
# total_credits = 0

# for _ in range(20):
#     subject,credit, grade = input().split()
#     credit = float(credit)
#     if grade != 'P' :
#         total_grade += credit*grades[rating.index(grade)]
#         total_credits += credit

# print(total_grade/total_credits)

In [142]:
# #딕셔너리
# score = {'A+': 4.5, 'A0': 4.0, 'B+': 3.5, 'B0': 3.0,
#          'C+': 2.5, 'C0': 2.0, 'D+': 1.5, 'D0': 1.0, 'F': 0.0}

# total_credits = 0
# total_grades = 0
# for _ in range(20):
#     subject, credit, grade = input().split()
#     credit = float(credit)
#     if grade != 'P':
#         total_credits += credit
#         total_grades += credit * score[grade]

# print(total_grades / total_credits)

## 2차원 배열

2738	행렬 덧셈

In [143]:
# N, M = map(int,input().split())
# array_1, array_2 = [],[]

# for i in range(N):
#     array_1.append(list(map(int,input().split())))

# for i in range(N):
#     array_2.append(list(map(int,input().split())))

# for i in range(N):
#     for j in range(M):
#         print(array_1[i][j]+array_2[i][j],end=' ')
#     print()

2566	최댓값

In [144]:
# # append
# array_1 =  []
# max_num, max_row, max_col = 0, 0, 0

# for _ in range(9):
#     array_1.append(list(map(int,input().split())))

# for row in range(9):
#     for col in range(9):
#         if array_1[row][col] >= max_num:
#             max_num = array_1[row][col]
#             max_row = row+1
#             max_col = col+1

# print(max_num)
# print(max_row,max_col)

In [145]:
# # append 없이 array 생성
# array_1 = [list(map(int, input().split())) for _ in range(9)]

# max_num = 0
# max_row, max_col = 0, 0
# for row in range(9):
#     for col in range(9):
#         if max_num <= array_1[row][col]:
#             max_row = row + 1
#             max_col = col + 1
#             max_num = array_1[row][col]

# print(max_num)
# print(max_row, max_col)

10798세로읽기

In [146]:
# word_list = [input() for _ in range(5)]

# for row in range(15):
#     for col in range(5):
#         if row < len(word_list[col]):
#             print(word_list[col][row],end='')

2563색종이

In [147]:
# square = [[0 for j in range(100)] for i in range(100)]
# num = int(input())

# for _ in range(num):
#     x, y = map(int,input().split())
    
#     for fill_x in range(x,x+10):
#         for fill_y in range(y,y+10):
#             square[fill_x][fill_y] = 1

# print(sum(row.count(1) for row in square))

## 일반 수학 1

2745	진법 변환

In [148]:
# #리스트
# N, B = input().split()
# alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
# number = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
# result = 0

# for i in range(len(N)):
#     if N[i] in alphabet:
#         result += int(number[alphabet.index(N[i])])*int(B)**(len(N)-i-1)
#     else:
#         result += int(N[i])*int(B)**(len(N)-i-1)

# print(result)

In [149]:
# #리스트 더 심플하게
# num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"

# N, B = input().split()
# result = 0
# for i, num in enumerate(N[::-1]):
#     result += int(B) ** i * num_list.index(num)
# print(result)

11005	진법 변환 2

In [150]:
# N, B = map(int,input().split())
# num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
# result = ''

# while N:
#     result += str(num_list[N%B])
#     N //= B

# print(result[::-1])

2720	세탁소 사장 동혁

In [151]:
# T = int(input())
# quarter = 25
# dime = 10
# nickel = 5
# penny = 1


# for _ in range(T):
#     change = int(input())

#     quarter_n = change//quarter
#     change -= quarter_n*quarter

#     dime_n = change//dime
#     change -= dime_n*dime

#     nickel_n = change//nickel
#     change -= nickel_n*nickel

#     penny_n = change//penny
#     print(quarter_n,dime_n,nickel_n,penny_n)

In [152]:
# T = int(input())

# for _ in range(T):
# 	change = int(input())
# 	for i in [25, 10, 5, 1]:
# 		print(change//i, end=' ')
# 		change = change%i

	2903	중앙 이동 알고리즘

In [153]:
# N = int(input())
# print((2**N+1)**2)

2292	벌집

In [154]:
N = int(input())
num = 1

for i in range(N):
    num += i*6
    if N <= num:
        print(i+1)
        break

KeyboardInterrupt: Interrupted by user

1193	 분수찾기

In [ ]:
# num = int(input())
# line = 1

# while num > line:
#     num -= line
#     line += 1
    

# if line % 2 == 0:
#     numerator = num
#     denominator = line - num + 1

# elif line % 2 == 1:
#     numerator = line - num + 1
#     denominator = num

# print(f'{numerator}/{denominator}')

In [ ]:
2869	 달팽이는 올라가고 싶다

SyntaxError: invalid syntax (3491750599.py, line 1)

In [ ]:
# # 제한시간 0.15초로 시간초과 반복무 사용 X
# A, B, V = map(int,input().split())
# height = 0 

# for day in range(1,V):
#     height += A
#     if height >= V:
#         print(day)
#         break
#     else:
#         height -= B

99901

In [ ]:
# #ceil
# import math
# A, B, V = map(int,input().split())
# day = (V-B) / (A-B)
# print(math.ceil(day)) #print(int(day) if day == int(day) else int(day)+1)

## 약수, 배수와 소수

5086	 배수와 약수

In [ ]:
# while 1:
#     A, B = map(int,input().split())

#     if A == 0 and B == 0:
#         break
#     elif A % B == 0:
#         print('multiple')
#     elif B % A == 0:
#         print('factor')
#     else:
#         print('neither')

2501	 약수 구하기

In [ ]:
# N, K = map(int, input().split())
# count = 0

# for i in range(1, N + 1):
#     if N % i == 0:
#         count += 1
#         if count == K:
#             print(i)
#             break

# if count < K:
#     print(0)

1

In [ ]:
# #리스트
# arr=[]
# N, K = map(int, input().split())
# cnt = 0
# for i in range(1, N + 1):
#     if N % i == 0:
#         arr.append(i)
#     cnt += 1

# if K > len(arr):
#     print(0)
# else:
#     print(arr[K-1])

9506	 약수들의 합

In [ ]:
# while 1:
#     n = int(input())

#     if n == -1:
#         break

#     arr = []
#     for i in range(1, n):
#         if n % i == 0:
#             arr.append(i)


#     if sum(arr) == n:
#         # print(n,'=', '+'.join(str(i) for i in arr), sep='')
#         print(n,"=",end=" ")
#         print(*arr,sep=" + ")
#     else:
#         print(n,'is NOT perfect.')

6 = 1 + 2 + 3

1978	 소수 찾기

In [ ]:
# N = int(input())
# num_list = list(map(int,input().split()))
# count = 0
# A = 0

# for num in num_list:
#     for i in range(1,num):
#         if num % i == 0:
#             A += 1
#     if A == 1:
#         count += 1
#         A = 0
#     else :
#         A =0
# print(count)

2

In [ ]:
# # 2부터 해서 간단히
# n = int(input())
# data = list(map(int, input().split()))
# count = 0

# for x in data:
#   for i in range(2, x+1):
#     if x % i == 0:
#       if x == i:
#         count += 1
      
#       break

# print(count)

2581	 소수

In [ ]:
# M = int(input())
# N = int(input())
# arr = []

# for i in range(M, N+1):
#     for j in range(2, i+1):
#             if j == i:
#                 arr.append(i)
#             if i % j == 0:
#                 break
                
# if not arr:
#     print(-1)
# else:
#     print(sum(arr))
#     print(arr[0])

11653	 소인수분해

In [ ]:
# N = int(input())

# if N == 1:
#     print('')

# for i in range(2,N+1):
#     if N% i == 0:
#         while N % i ==0:
#             print(i)
#             N /= i

2
2
2
3
3

In [ ]:
# N = int(input())
# i = 2
# while N > 1:
#     if N % i == 0:
#         N = N // i
#         print(i)
#     else:
#         i += 1

2
2
2
3
3

## 기하 : 직사각형과 삼각형

27323	 직사각형

In [ ]:
# A = int(input())
# B = int(input())

# print(A*B)

	1085	 직사각형에서 탈출

In [ ]:
# x, y, w, h = map(int,input().split())
# print(min(abs(x-w),abs(y-h),x,y,w,h))

161

3009	 네 번째 점

In [ ]:
# x_nums = []
# y_nums = []
# for _ in range(3):
#     x, y = map(int, input().split())
#     x_nums.append(x)
#     y_nums.append(y)

# for i in range(3):
#     if x_nums.count(x_nums[i]) == 1:
#         x4 = x_nums[i]
#     if y_nums.count(y_nums[i]) == 1:
#         y4 = y_nums[i]
# print(x4, y4)

In [ ]:
# x1,y1 = map(int,input().split())
# x2,y2 = map(int,input().split())
# x3,y3 = map(int,input().split())
# x4 = 0 
# y4 = 0

# if x1 == x2:
#     x4 = x3
# elif  x2 == x3: 
#     x4 = x1
# elif x1 == x3: 
#     x4 = x2

# if y1 == y2:
#     y4 = y3
# elif  y2 == y3: 
#     y4 = y1
# elif y1 == y3: 
#     y4 = y2

# print(x4,y4)

	15894	 수학은 체육과목 입니다

In [ ]:
# n = int(input())
# print(4*n)

9063	 대지

In [ ]:
# n = int(input())
# x_nums = []
# y_nums = []

# for _ in range(n):
#     x ,  y = map(int,input().split())
#     x_nums.append(x)
#     y_nums.append(y)

# print((max(x_nums)-min(x_nums))*(max(y_nums)-min(y_nums)))

360

10101	 삼각형 외우기

In [ ]:
# a = int(input())
# b = int(input())
# c = int(input())

# if a + b + c == 180:
#     if a == b and b==c :
#         print('Equilateral')
#     elif a==b or b==c or c==a:
#         print('Isosceles')
#     else:
#         print('Scalene')
# else:
#     print('Error')

quilateral

5073	 삼각형과 세 변

In [ ]:
# while 1:
#     a,b,c = map(int,input().split())
#     if a == b == c ==0:
#         break
#     elif a==b==c:
#         print('Equilateral')
#     elif 2*max(a,b,c)>= a+b+c:
#         print('Invalid')
#     elif a==b or b==c or c==a:
#         print('Isosceles')
#     else:
#         print('Scalene')

Equilateral
Scalene
Invalid
Isosceles

	14215	 세 막대

In [ ]:
# num_list = list(map(int,input().split()))
# if 2*max(num_list) < sum(num_list):
#     print(sum(num_list))
# else:
#     sort_list = sorted(num_list)

#     print(2*(sort_list[0] + sort_list[1])-1)

113

## 브루트 포스

2798	 블랙잭

In [ ]:
# N, M = map(int,input().split())
# num_list = sorted(list(map(int,input().split())))
# max= 0 

# for i in range(N):
#     for j in range(i+1,N):
#         for k in range(j+1,N):
#             sum = num_list[i] + num_list[j] + num_list[k]
#             if sum <= M and sum > max:
#                 max = sum


# print(max)

497

2231	 분해합

In [156]:
# num = int(input())

# for i in range(1,num+1):
#     nums = map(int,str(i))
#     num_sum = i + sum(nums)

#     if num_sum ==num:
#         print(i)
#         break
#     if i== num:
#         print(0)

198

19532	 수학은 비대면강의입니다

In [7]:
# a,b,c,d,e,f = map(int,input().split())

# for x in range(-999,1000):
#     for y in range(-999,1000):
#         if (a*x + b*y == c) and (d*x + e*y == f):
#             print(x,y)

2 -1

1018	 체스판 다시 칠하기

In [ ]:
# N, M = map(int,input().split())
# arr =[]
# count = []

# for _ in range(N):
#     arr.append(input())


# for row in range(N-7):
#     for col in range(M-7):
#         w_start = 0
#         b_start = 0
#         for i in range(row,row+8):
#             for j in range(col,col+8):
#                 if (i+j)%2==0 :
#                     if arr[i][j] != 'W':
#                         w_start += 1
#                     if arr[i][j] != 'B':
#                         b_start += 1
#                 else:
#                     if arr[i][j] != 'B':
#                         w_start += 1
#                     if arr[i][j] != 'W':
#                         b_start += 1
#         count.append(min(w_start,b_start))

# print(min(count))

In [ ]:
# # 직접 비교
# import sys
# chess=[['W', 'B', 'W', 'B', 'W', 'B', 'W', 'B'],
#        ['B', 'W', 'B', 'W', 'B', 'W', 'B', 'W'],
#        ['W', 'B', 'W', 'B', 'W', 'B', 'W', 'B'],
#        ['B', 'W', 'B', 'W', 'B', 'W', 'B', 'W'],
#        ['W', 'B', 'W', 'B', 'W', 'B', 'W', 'B'],
#        ['B', 'W', 'B', 'W', 'B', 'W', 'B', 'W'],
#        ['W', 'B', 'W', 'B', 'W', 'B', 'W', 'B'],
#        ['B', 'W', 'B', 'W', 'B', 'W', 'B', 'W']]
# n, m = map(int, sys.stdin.readline().split())
# res=n*m
# inp = []
# for _ in range(n):
#     inp.append(list(sys.stdin.readline().strip('\n')))
# def ch(x, y):
#     cnt=0
#     for i in range(8):
#         for j in range(8):
#             if chess[i][j]==inp[x+i][y+j]:
#                 cnt+=1
#     return min(cnt, 64-cnt)
# for i in range(n-7):
#     for j in range(m-7):
#         res=min(res, ch(i, j))
# print(res)

1436	 영화감독 숌

In [17]:
# num = int(input())

# for i in range(666,2666800):
#     if '666' in str(i):
#         num -= 1
#         if num ==0:
#             print(i)
#             break

2666799

In [ ]:
# #while
# num = int(input())
# i = 666
# count = 0

# while True:
#     if '666' in str(i): 
#         count+=1
#     if count == num: 
#         print(i)
#         break 
#     i+=1

	2839	 설탕 배달

In [21]:
# #시간초과ㅜ
# N = int(input())
# bag_num = []

# for num_5 in range(10001):
#     for num_3 in range(10000):
#         if num_5*5 + num_3*3 == N:
#             bag_num.append([num_5,num_3])

# if bag_num ==[]:
#     print(-1)

# else:
#     print(sum(min(bag_num)))

2

In [22]:
# N = int(input())
# bag = 0

# while N >= 0 :
#     if N % 5 == 0 :
#         bag += (N // 5)
#         print(bag)
#         break
#     N -= 3  
#     bag += 1

# else :
#     print(-1)

## 정렬

2750	 수 정렬하기

In [36]:
# N = int(input())
# num_list = []

# for _ in range(N):
#     num_list.append(int(input()))

# for i in range(N):
#     print(sorted(num_list)[i])

1
2
4

2587	 대표값2

In [39]:
# num_list = []

# for _ in range(5):
#     num_list.append(int(input()))

# print(int(sum(num_list)/5))
# print(sorted(num_list)[2])

34.0
40

25305	 커트라인

In [40]:
# N, k = map(int,input().split())
# score = sorted(list(map(int,input().split())))

# print(score[N-k])

98